#top-nav{
    margin-top: 30px;
    margin-left: 20px;
   }
   
   #nav-img{
       width: 300px;
   }

/* --------------------footer section---------------------------- */
#bottom-footer{
    text-align: center;
 }
 #bottom-img{
     display: flex;
     justify-content: center;
 }
 #last-p{
     color: grey;
 }